<launch>
    <param name="robot_description"
           command="$(find xacro)/xacro $(find locobot_description)/urdf/locobot.urdf.xacro"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"
          name="joint_state_publisher"/>
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find locobot_description)/param/view_model.rviz"/>
</launch>
